<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title || 'PetPost' %></title>

    <!-- Global stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <!-- Express will inject the page-specific markup here -->
    <%- body %>
  </body>
</html>
